.navbar-wrapper {
  display: contents;
}
.navbar-container {
  width: 100%;
  display: flex;
  position: relative;
  justify-content: center;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar-navbar-interactive {
  width: 100%;
  display: flex;
  max-width: idth;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  border-color: #dadadc;
  border-width: 1px;
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
.navbar-image1 {
  height: 3rem;
}
.navbar-desktop-menu {
  flex: 1;
  display: flex;
  justify-content: space-between;
}
.navbar-links1 {
  gap: var(--dl-space-space-twounits);
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.navbar-link11 {
  text-decoration: none;
}
.navbar-link21 {
  text-decoration: none;
}
.navbar-link41 {
  text-decoration: none;
}
.navbar-icon-group1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  margin-left: var(--dl-space-space-twounits);
}
.navbar-link3 {
  display: contents;
}
.navbar-icon10 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.navbar-link5 {
  display: contents;
}
.navbar-icon12 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.navbar-link6 {
  display: contents;
}
.navbar-icon14 {
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.navbar-burger-menu {
  display: none;
}
.navbar-icon16 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-twounits);
  z-index: 100;
  position: absolute;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--dl-color-theme-neutral-light);
}
.navbar-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.navbar-logo {
  height: 3rem;
}
.navbar-close-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-icon18 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.navbar-links2 {
  gap: var(--dl-space-space-unit);
  flex: 0 0 auto;
  display: flex;
  align-self: flex-start;
  align-items: flex-start;
  flex-direction: column;
}
.navbar-link12 {
  text-decoration: none;
}
.navbar-link22 {
  text-decoration: none;
}
.navbar-link42 {
  text-decoration: none;
}
.navbar-icon-group2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
}
.home-fragment12 {
  display: contents;
}
.home-text12 {
  display: inline-block;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
}
.home-fragment11 {
  display: contents;
}
.home-text11 {
  display: inline-block;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
}
.home-fragment10 {
  display: contents;
}
.home-text10 {
  display: inline-block;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
}
@media(max-width: 1600px) {
  .navbar-desktop-menu {
    display: none;
  }
  .navbar-burger-menu {
    display: flex;
  }
}
@media(max-width: 767px) {
  .navbar-navbar-interactive {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .navbar-burger-menu {
    align-items: center;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .navbar-navbar-interactive {
    padding: var(--dl-space-space-unit);
  }
  .navbar-mobile-menu {
    padding: var(--dl-space-space-unit);
  }
}

.banner-wrapper {
  display: contents;
}
.banner-header1 {
  background-image: linear-gradient(45deg, rgb(255, 255, 255) 0.00%,rgba(195, 178, 194, 0.23) 49.00%,rgba(94, 157, 217, 0.23) 100.00%);
}
.banner-max-width {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.banner-container1 {
  width: 100%;
}
.banner-column {
  gap: 24px;
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.banner-content {
  gap: 24px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.banner-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  transition: 0.3s;
  align-items: flex-start;
}

.banner-button {
  transition: 0.3s;
  border-color: #e0274d;
  text-decoration: none;
  background-color: var(--dl-color-theme-primary1);
}

.banner-container2 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
  padding-top: 35%;
  justify-content: flex-start;
}
.banner-image1 {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  flex-grow: 1;
  object-fit: cover;
}
.home-fragment15 {
  display: contents;
}
.home-text15 {
  display: inline-block;
}
.home-text16 {
  font-size: 120px;
}
.home-text18 {
  font-size: 55px;
}
.home-text19 {
  color: #e0274d;
  font-size: 55px;
}
.home-text20 {
  color: #ff204e;
  font-size: 55px;
}
.home-text21 {
  font-size: 55px;
}
.home-fragment13 {
  display: contents;
}
.home-text13 {
  display: inline-block;
  font-size: 18px;
}
.home-fragment14 {
  display: contents;
}
.home-text14 {
  color: rgb(145, 10, 103);
  display: inline-block;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
@media(max-width: 991px) {
  .banner-container1 {
    flex-direction: column;
  }
  .banner-container2 {
    width: 100%;
    padding-top: 56.25%;
  }
}
@media(max-width: 767px) {
  .banner-actions {
    width: 100%;
    justify-content: center;
  }
  .banner-image1 {
    width: 100%;
  }
  .home-text15 {
    text-align: center;
  }
  .home-text14 {
    text-align: center;
  }
}
@media(max-width: 479px) {
  .banner-actions {
    flex-direction: column;
  }
  .banner-button {
    width: 100%;
  }
}

.about-wrapper {
  display: contents;
}
.about-layout251 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
.about-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.about-column {
  gap: var(--dl-space-space-halfunit);
  width: 255px;
  align-items: flex-start;
  flex-shrink: 0;
}
.about-text10 {
  font-weight: bold;
}
.home-fragment16 {
  display: contents;
}
.home-text22 {
  fill: #5d0e41;
  color: rgb(145, 10, 103);
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.home-fragment18 {
  display: contents;
}
.home-text24 {
  display: inline-block;
  font-size: 20px;
}
.home-text26 {
  color: var(--dl-color-theme-neutral-dark);
}
.home-text28 {
  font-style: normal;
  font-weight: 700;
}
.home-text30 {
  font-style: normal;
  font-weight: 700;
}
.home-fragment17 {
  display: contents;
}
.home-text23 {
  display: inline-block;
  font-size: 46px;
}
@media(max-width: 991px) {
  .about-section-title {
    align-items: flex-start;
    flex-direction: column;
  }
}
@media(max-width: 767px) {
  .about-column {
    width: 100%;
  }
  .home-text23 {
    text-align: center;
  }
}

.skills-wrapper {
  display: contents;
}
.skills-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.skills-max-width1 {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-container10 {
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.skills-image10 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.skills-container11 {
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.skills-image11 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.skills-container12 {
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.skills-image12 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.skills-container13 {
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.skills-image13 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.skills-container14 {
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.skills-image14 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.skills-max-width2 {
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.skills-container15 {
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.skills-image15 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.skills-container16 {
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.skills-image16 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.skills-container17 {
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.skills-image17 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.skills-container18 {
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.skills-image18 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.skills-container19 {
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.skills-image19 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.skills-max-width3 {
  width: auto;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.skills-container20 {
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.skills-image20 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.skills-container21 {
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.skills-image21 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.skills-container22 {
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.skills-image22 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.skills-container23 {
  flex: 0 0 auto;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.skills-max-width4 {
  width: auto;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: center;
}
.skills-container24 {
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.skills-image23 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.skills-container25 {
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.skills-image24 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.skills-max-width5 {
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skills-container26 {
  color: var(--dl-color-theme-neutral-light);
  width: 100%;
  height: auto;
  display: flex;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: #f5f5f5;
}
.skills-image25 {
  width: var(--dl-size-size-medium);
  height: var(--dl-size-size-medium);
  object-fit: cover;
}
.home-fragment22 {
  display: contents;
}
.home-text38 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment23 {
  display: contents;
}
.home-text39 {
  color: var(--dl-color-theme-neutral-dark);
  height: auto;
  display: inline-block;
  font-size: 28px;
}
.home-fragment30 {
  display: contents;
}
.home-text46 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment33 {
  display: contents;
}
.home-text49 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment31 {
  display: contents;
}
.home-text47 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment29 {
  display: contents;
}
.home-text45 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment28 {
  display: contents;
}
.home-text44 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment20 {
  display: contents;
}
.home-text36 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment19 {
  display: contents;
}
.home-text35 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment25 {
  display: contents;
}
.home-text41 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment34 {
  display: contents;
}
.home-text50 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment24 {
  display: contents;
}
.home-text40 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  height: auto;
  display: inline-block;
  font-size: 28px;
}
.home-fragment32 {
  display: contents;
}
.home-text48 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment26 {
  display: contents;
}
.home-text42 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment27 {
  display: contents;
}
.home-text43 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment21 {
  display: contents;
}
.home-text37 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
@media(max-width: 991px) {
  .skills-max-width1 {
    gap: var(--dl-space-space-twounits);
    align-self: center;
    flex-direction: column-reverse;
  }
  .skills-container13 {
    align-self: center;
  }
  .skills-max-width2 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column-reverse;
  }
  .skills-max-width3 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column-reverse;
  }
  .skills-max-width4 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column-reverse;
  }
  .skills-max-width5 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column-reverse;
  }
}
@media(max-width: 767px) {
  .skills-container10 {
    width: 100%;
  }
  .skills-container11 {
    width: 100%;
  }
  .skills-container12 {
    width: 100%;
  }
  .skills-container13 {
    width: 100%;
  }
  .skills-container14 {
    width: 100%;
  }
  .skills-container15 {
    width: 100%;
  }
  .skills-container16 {
    width: 100%;
  }
  .skills-container17 {
    width: 100%;
  }
  .skills-container18 {
    width: 100%;
  }
  .skills-container19 {
    width: 100%;
  }
  .skills-container20 {
    width: 100%;
  }
  .skills-container21 {
    width: 100%;
  }
  .skills-container22 {
    width: 100%;
  }
  .skills-container24 {
    width: 100%;
  }
  .skills-container25 {
    width: 100%;
  }
  .skills-container26 {
    width: 100%;
  }
}

.projects-wrapper {
  display: contents;
}
.projects-header78 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  padding-top: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.projects-column {
  gap: var(--dl-space-space-oneandhalfunits);
  width: auto;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
.projects-content1 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.projects-actions {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-unit);
}
.projects-button {
  transition: 0.3s;
  text-decoration: none;
}

.projects-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.projects-row-container {
  width: 100%;
}
.projects-placeholder-image10 {
  width: 400px;
  height: 400px;
}
.projects-placeholder-image11 {
  width: 400px;
  height: 400px;
}
.projects-placeholder-image12 {
  width: 400px;
  height: 400px;
}
.projects-placeholder-image13 {
  width: 400px;
  height: 400px;
}
.projects-placeholder-image14 {
  width: 400px;
  height: 400px;
}
.projects-placeholder-image15 {
  width: 400px;
  height: 400px;
}
.projects-placeholder-image16 {
  width: 400px;
  height: 400px;
}
.projects-placeholder-image17 {
  width: 400px;
  height: 400px;
}
.projects-placeholder-image18 {
  width: 400px;
  height: 400px;
}
.projects-placeholder-image19 {
  width: 400px;
  height: 400px;
}
.projects-placeholder-image20 {
  width: 400px;
  height: 400px;
}
.projects-placeholder-image21 {
  width: 400px;
  height: 400px;
}
.projects-container2 {
  display: contents;
}
.home-fragment36 {
  display: contents;
}
.home-text52 {
  display: inline-block;
  text-align: center;
}
.home-fragment37 {
  display: contents;
}
.home-text53 {
  display: inline-block;
  font-size: 48px;
  text-align: center;
}
.home-text55 {
  color: var(--dl-color-theme-primary1);
}
.home-fragment35 {
  display: contents;
}
.home-text51 {
  display: inline-block;
  font-size: 18px;
}
@media(max-width: 767px) {
  .projects-content2 {
    width: 100%;
  }
}
@media(max-width: 479px) {
  .projects-actions {
    width: 100%;
    flex-direction: column;
  }
  .projects-button {
    width: 100%;
  }
}

.cta-wrapper {
  display: contents;
}
.cta-container {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  background-size: cover;
  background-image: url("public/footerbg-1500w.png");
}
.cta-max-width {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
}
.cta-content {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
.cta-actions {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
.cta-button {
  transition: 0.3s;
  border-color: var(--dl-color-theme-neutral-dark);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-dark);
}

.home-fragment38 {
  display: contents;
}
.home-text57 {
  display: inline-block;
  font-size: 18px;
  text-align: center;
}
.home-fragment39 {
  display: contents;
}
.home-text60 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  font-size: 22px;
  text-align: center;
}
.home-fragment40 {
  display: contents;
}
.home-text61 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  font-size: 48px;
  text-align: center;
}
@media(max-width: 479px) {
  .cta-actions {
    width: 100%;
    flex-direction: column;
  }
  .cta-button {
    width: 100%;
  }
}

.footer-wrapper {
  display: contents;
}
.footer-footer4 {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  padding: var(--dl-space-space-fiveunits);
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  background-color: #28284e;
}
.footer-max-width {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.footer-content {
  gap: 32px;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.footer-logo {
  gap: 24px;
  width: var(--dl-size-size-xsmall);
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.footer-navlink {
  display: contents;
}
.footer-image1 {
  height: 2rem;
  text-decoration: none;
}
.footer-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
}
.footer-link1 {
  text-decoration: none;
}
.footer-link2 {
  text-decoration: none;
}
.footer-link5 {
  text-decoration: none;
}
.footer-social-links {
  gap: var(--dl-space-space-unit);
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
}
.footer-link3 {
  display: contents;
}
.footer-icon1 {
  fill: var(--dl-color-theme-neutral-light);
  text-decoration: none;
}
.footer-link4 {
  display: contents;
}
.footer-icon3 {
  fill: var(--dl-color-theme-neutral-light);
  width: 24px;
  height: 24px;
  text-decoration: none;
}
.footer-link6 {
  display: contents;
}
.footer-icon5 {
  fill: var(--dl-color-theme-neutral-light);
  text-decoration: none;
}
.footer-credits {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-self: stretch;
  align-items: center;
  border-color: var(--dl-color-theme-primary1);
  border-width: 1px;
  flex-direction: column;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
.footer-row {
  gap: 24px;
  display: flex;
  align-items: flex-start;
}
.footer-footer-links {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
.footer-content3 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  border-radius: var(--dl-radius-radius-radius4);
}
.home-fragment43 {
  display: contents;
}
.home-text64 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.home-fragment42 {
  display: contents;
}
.home-text63 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.home-fragment41 {
  display: contents;
}
.home-text62 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
@media(max-width: 991px) {
  .footer-logo {
    width: auto;
  }
}
@media(max-width: 767px) {
  .footer-content {
    flex-direction: column;
  }
  .footer-row {
    flex-direction: column;
  }
  .footer-footer-links {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
@media(max-width: 479px) {
  .footer-max-width {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer-content {
    width: 100%;
  }
  .footer-links {
    width: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}

.home-container {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-fragment10 {
  display: contents;
}
.home-text10 {
  display: inline-block;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
}
.home-fragment11 {
  display: contents;
}
.home-text11 {
  display: inline-block;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
}
.home-fragment12 {
  display: contents;
}
.home-text12 {
  display: inline-block;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
}
.home-fragment13 {
  display: contents;
}
.home-text13 {
  display: inline-block;
  font-size: 18px;
}
.home-fragment14 {
  display: contents;
}
.home-text14 {
  color: rgb(145, 10, 103);
  display: inline-block;
  font-size: 22px;
  font-style: normal;
  font-weight: 700;
}
.home-fragment15 {
  display: contents;
}
.home-text15 {
  display: inline-block;
}
.home-text16 {
  font-size: 120px;
}
.home-text18 {
  font-size: 55px;
}
.home-text19 {
  color: #e0274d;
  font-size: 55px;
}
.home-text20 {
  color: #ff204e;
  font-size: 55px;
}
.home-text21 {
  font-size: 55px;
}
.home-fragment16 {
  display: contents;
}
.home-text22 {
  fill: #5d0e41;
  color: rgb(145, 10, 103);
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
}
.home-fragment17 {
  display: contents;
}
.home-text23 {
  display: inline-block;
  font-size: 46px;
}
.home-fragment18 {
  display: contents;
}
.home-text24 {
  display: inline-block;
  font-size: 20px;
}
.home-text26 {
  color: var(--dl-color-theme-neutral-dark);
}
.home-text28 {
  font-style: normal;
  font-weight: 700;
}
.home-text30 {
  font-style: normal;
  font-weight: 700;
}
.home-text32 {
  text-align: center;
  padding-top: var(--dl-space-space-twounits);
}
.home-text34 {
  color: var(--dl-color-theme-primary1);
}
.home-fragment19 {
  display: contents;
}
.home-text35 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment20 {
  display: contents;
}
.home-text36 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment21 {
  display: contents;
}
.home-text37 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment22 {
  display: contents;
}
.home-text38 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment23 {
  display: contents;
}
.home-text39 {
  color: var(--dl-color-theme-neutral-dark);
  height: auto;
  display: inline-block;
  font-size: 28px;
}
.home-fragment24 {
  display: contents;
}
.home-text40 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  height: auto;
  display: inline-block;
  font-size: 28px;
}
.home-fragment25 {
  display: contents;
}
.home-text41 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment26 {
  display: contents;
}
.home-text42 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment27 {
  display: contents;
}
.home-text43 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment28 {
  display: contents;
}
.home-text44 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment29 {
  display: contents;
}
.home-text45 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment30 {
  display: contents;
}
.home-text46 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment31 {
  display: contents;
}
.home-text47 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment32 {
  display: contents;
}
.home-text48 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment33 {
  display: contents;
}
.home-text49 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment34 {
  display: contents;
}
.home-text50 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  display: inline-block;
  font-size: 28px;
}
.home-fragment35 {
  display: contents;
}
.home-text51 {
  display: inline-block;
  font-size: 18px;
}
.home-fragment36 {
  display: contents;
}
.home-text52 {
  display: inline-block;
  text-align: center;
}
.home-fragment37 {
  display: contents;
}
.home-text53 {
  display: inline-block;
  font-size: 48px;
  text-align: center;
}
.home-text55 {
  color: var(--dl-color-theme-primary1);
}
.home-fragment38 {
  display: contents;
}
.home-text57 {
  display: inline-block;
  font-size: 18px;
  text-align: center;
}
.home-fragment39 {
  display: contents;
}
.home-text60 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  font-size: 22px;
  text-align: center;
}
.home-fragment40 {
  display: contents;
}
.home-text61 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  font-size: 48px;
  text-align: center;
}
.home-fragment41 {
  display: contents;
}
.home-text62 {
  fill: var(--dl-color-theme-neutral-light);
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.home-fragment42 {
  display: contents;
}
.home-text63 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
.home-fragment43 {
  display: contents;
}
.home-text64 {
  color: var(--dl-color-theme-neutral-light);
  display: inline-block;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
}
@media(max-width: 767px) {
  .home-text14 {
    text-align: center;
  }
  .home-text15 {
    text-align: center;
  }
  .home-text23 {
    text-align: center;
  }
}
