<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Infatuated Junior Bison</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./skills.css" rel="stylesheet" />
      <div id="skillsection" class="skills-layout349 thq-section-padding">
        <div class="skills-max-width1 thq-grid-auto-300 thq-section-max-width">
          <div class="skills-container10 thq-card thq-flex-column">
            <img
              alt="Customized Website Design Image"
              src="public/html-1400w.png"
              class="skills-image10 thq-img-ratio-1-1 thq-img-round"
            />
            <h2>
              <fragment class="skills-fragment11">
                <h2 class="skills-text27 thq-heading-2">HTML5</h2>
              </fragment>
            </h2>
          </div>
          <div class="skills-container11 thq-card thq-flex-column">
            <img
              alt="User-Friendly Interface Image"
              src="public/css-1400w.png"
              class="skills-image11 thq-img-ratio-1-1 thq-img-round"
            />
            <h2>
              <fragment class="skills-fragment18">
                <h2 class="skills-text34 thq-heading-2">CSS3</h2>
              </fragment>
            </h2>
          </div>
          <div class="skills-container12 thq-card thq-flex-column">
            <img
              alt="AI Integration Image"
              src="public/bootstrap-1400w.png"
              class="skills-image12 thq-img-ratio-1-1 thq-img-round"
            />
            <h2>
              <fragment class="skills-fragment17">
                <h2 class="skills-text33 thq-heading-2">Bootstrap</h2>
              </fragment>
            </h2>
          </div>
          <div class="skills-container13 thq-card thq-flex-column">
            <img
              alt="Beauty and Makeup Focus Image"
              src="public/python-1400w.png"
              class="skills-image13 thq-img-ratio-1-1 thq-img-round"
            />
            <h2>
              <fragment class="skills-fragment25">
                <h2 class="skills-text41 thq-heading-2">Python</h2>
              </fragment>
            </h2>
          </div>
          <div class="skills-container14 thq-card thq-flex-column">
            <img
              alt="Customized Website Design Image"
              src="public/java-1400w.png"
              class="skills-image14 thq-img-ratio-1-1 thq-img-round"
            />
            <h2>
              <fragment class="skills-fragment10">
                <h2 class="skills-text26 thq-heading-2">Java</h2>
              </fragment>
            </h2>
          </div>
        </div>
        <div class="skills-max-width2 thq-grid-auto-300 thq-section-max-width">
          <div class="skills-container15 thq-card thq-flex-column">
            <img
              alt="User-Friendly Interface Image"
              src="public/csharp-1400w.png"
              class="skills-image15 thq-img-ratio-1-1 thq-img-round"
            />
            <h2>
              <fragment class="skills-fragment19">
                <h2 class="skills-text35 thq-heading-2">C#</h2>
              </fragment>
            </h2>
          </div>
          <div class="skills-container16 thq-card thq-flex-column">
            <img
              alt="User-Friendly Interface Image"
              src="public/cplusplus-1400w.png"
              class="skills-image16 thq-img-ratio-1-1 thq-img-round"
            />
            <h2>
              <fragment class="skills-fragment15">
                <h2 class="skills-text31 thq-heading-2">C++</h2>
              </fragment>
            </h2>
          </div>
          <div class="skills-container17 thq-card thq-flex-column">
            <img
              alt="AI Integration Image"
              src="public/mysql-1400w.png"
              class="skills-image17 thq-img-ratio-1-1 thq-img-round"
            />
            <h2>
              <fragment class="skills-fragment23">
                <h2 class="skills-text39 thq-heading-2">MySQL</h2>
              </fragment>
            </h2>
          </div>
          <div class="skills-container18 thq-card thq-flex-column">
            <img
              alt="Beauty and Makeup Focus Image"
              src="public/figma-1400w.png"
              class="skills-image18 thq-img-ratio-1-1 thq-img-round"
            />
            <h2>
              <fragment class="skills-fragment24">
                <h2 class="skills-text40 thq-heading-2">Figma</h2>
              </fragment>
            </h2>
          </div>
          <div class="skills-container19 thq-card thq-flex-column">
            <img
              alt="User-Friendly Interface Image"
              src="public/teleporthq-1400w.png"
              class="skills-image19 thq-img-ratio-1-1 thq-img-round"
            />
            <h2>
              <fragment class="skills-fragment16">
                <h2 class="skills-text32 thq-heading-2">TeleportHQ</h2>
              </fragment>
            </h2>
          </div>
        </div>
        <div class="skills-max-width3 thq-grid-auto-300 thq-section-max-width">
          <div class="skills-container20 thq-card thq-flex-column">
            <img
              alt="User-Friendly Interface Image"
              src="public/canva-1400w.png"
              class="skills-image20 thq-img-ratio-1-1 thq-img-round"
            />
            <h2>
              <fragment class="skills-fragment12">
                <h2 class="skills-text28 thq-heading-2">Canva</h2>
              </fragment>
            </h2>
          </div>
          <div class="skills-container21 thq-card thq-flex-column">
            <img
              alt="Beauty and Makeup Focus Image"
              src="public/pixlr-1400w.png"
              class="skills-image21 thq-img-ratio-1-1 thq-img-round"
            />
            <h2>
              <fragment class="skills-fragment14">
                <h2 class="skills-text30 thq-heading-2">Pixlr</h2>
              </fragment>
            </h2>
          </div>
          <div class="skills-container22 thq-card thq-flex-column">
            <img
              alt="User-Friendly Interface Image"
              src="public/cvat-1400w.png"
              class="skills-image22 thq-img-ratio-1-1 thq-img-round"
            />
            <h2>
              <fragment class="skills-fragment22">
                <h2 class="skills-text38 thq-heading-2">CVAT</h2>
              </fragment>
            </h2>
          </div>
        </div>
        <div class="skills-container23"></div>
        <div class="skills-max-width4 thq-grid-auto-300 thq-section-max-width">
          <div class="skills-container24 thq-card thq-flex-column">
            <img
              alt="Beauty and Makeup Focus Image"
              src="public/roboflow-1400w.png"
              class="skills-image23 thq-img-ratio-1-1 thq-img-round"
            />
            <h2>
              <fragment class="skills-fragment13">
                <h2 class="skills-text29 thq-heading-2">Roboflow</h2>
              </fragment>
            </h2>
          </div>
          <div class="skills-container25 thq-card thq-flex-column">
            <img
              alt="Beauty and Makeup Focus Image"
              src="public/jupyter-1400w.png"
              class="skills-image24 thq-img-ratio-1-1 thq-img-round"
            />
            <h2>
              <fragment class="skills-fragment20">
                <h2 class="skills-text36 thq-heading-2">Jupyter</h2>
              </fragment>
            </h2>
          </div>
        </div>
        <div class="skills-max-width5 thq-grid-auto-300 thq-section-max-width">
          <div class="skills-container26 thq-card thq-flex-column">
            <img
              alt="Customized Website Design Image"
              src="public/teamviewer-1400w.png"
              class="skills-image25 thq-img-ratio-1-1 thq-img-round"
            />
            <h2>
              <fragment class="skills-fragment21">
                <h2 class="skills-text37 thq-heading-2">TeamViewer</h2>
              </fragment>
            </h2>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
